﻿<!--最后修改时间-->
<script type="text/html" id="lastModificationTime">
    <div>
        {{# if(d.lastModificationTime != null) {}}
        {{#var date = layui.util.timeAgo(new Date(d.lastModificationTime||""), true); }}
        {{date}}
        {{# } }}
    </div>
</script>